.wrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    max-width: 1500px;
    margin-bottom: 30px;
}

.content {
    /* max-width: 700px; */
    min-width: calc(100% - 300px - 1rem);
    padding: 16px;
    border-radius: 8px;
    margin-left: 8px;
}

.content p {
    font-weight: 400;
    line-height: 1.8;
    margin-bottom: 10px;
    color: #222222;
}
