.toc {
    width: 200px;
    align-self: flex-start;
    position: -webkit-sticky;
    position: sticky;
    top: 80px;
    max-height: calc(100vh - 70px);
    overflow: auto;
    margin-top: 150px;
}

.toc ul li {
    margin-bottom: 12px;
}

.tocItem {
    text-decoration: none;
    color: var(--gray-500);
}

.toc li.active > a {
    color: #333;
    font-weight: 500;
}

/* .head3 {
    margin-left: 10px;
    list-style-type: circle;
}
.head4 {
    margin-left: 20px;
    list-style-type: square;
} */
